body {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
}

input, select, button {
  margin: 5px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}

#holesInfo, #playerInfo {
  display: flex;
  flex-wrap: wrap;
}
